<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ImageApiUrl" value="http://consolegrid.com/api/top_picture?console=%n&amp;game=%g"/>
    <add key="AutoImportRoms" value="true"/>
    <add key="DownloadGridImages" value="true"/>
    <add key="RomDirectory" value="D:\Media\Emulation\Roms"/>
    <add key="EmulatorDirectory" value="D:\Media\Emulation\Emulators"/>
    <add key="RomExtensions" 
         value="iso,bin,img,z64,gcm,sfc,smc,wbfs,n64,gg,gb,gba,gbc,wad,ciso,gcz,rom,int,smd,gen,zip"/>
    <add key="EmulatorAssociations"
         value="Wii:Dolphin.exe;Gamecube:Dolphin.Exe;
         PS1:ePSXe.exe;PS2:pcsx2.exe;
         NES:nestopia.exe;N64:Project64.exe;PSP:PPSSPPWindows64.exe;
         SNES:zsnesw.exe;DS:DeSmuME_0.9.10_x86;
         SGG:Fusion.exe;SMS:Fusion.exe;Genesis:Fusion.exe;
         GBA:VisualBoyAdvance.exe;GBC:VisualBoyAdvance.exe;GB:VisualBoyAdvance.exe"/>
    <add key="Consoles" value="PS1;PS2;PSP;SNES;SGG;Saturn;GBA;Gameboy;GBC;SMS;Wii;N64;DS;Arcade;Gamecube;Genesis;NES"/>
    <add key="ConsoleAliases"
         value="Playstation:PS1;Playstation 2:PS2;Playstation2:PS2;Playstation1:PS1;Playstation Portable:PSP;
         Sega Genesis:Genesis;Sega Dreamcast:Dreamcast;Sega Saturn:Saturn;Sega Master System:SMS;Master System:SMS;Sega Game Gear;SGG;GameGear;SGG;Game Gear;SGG;Sega Saturn:Saturn;
         Game Boy:Gameboy;Gameboy Advance:GBA;Gameboy Color:GBC;
         Nintendo Gamecube:Gamecube;Nintendo Wii:Wii;Super Nintendo:SNES;Nintendo:NES;Nintendo 64:N64;Nintendo DS:DS;
         Arcade:Arcade;MAME:Arcade"/>
  </appSettings>
</configuration>