<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ImageApiUrl" value="http://consolegrid.com/api/top_picture?console=%n&amp;game=%g"/>
    <add key="AutoImportRoms" value="true"/>
    <add key="DownloadGridImages" value="true"/>
    <add key="RomDirectory" value="D:\Media\Emulation\Roms"/>
    <add key="EmulatorDirectory" value="D:\Media\Emulation\Emulators"/>
    <add key="RomExtensions" 
         value="iso,bin,img,z64,gcm,sfc,smc,wbfs,n64,gg,gb,gba,gbc,wad,ciso,gcz,rom,int,smd,gen,zip"/>
    <add key="Emulators"
         value="Wii:Dolphin.exe;PS1:ePSXe.exe;PS2:pcsx2.exe;NES:nestopia.exe;N64:Project64.exe;PSP:PPSSPPWindows.exe;SNES:zsnesw.exe"/>
    <add key="ConsoleAliases"
         value="Playstation:PS1;Playstation 2:PS2;Playstation2:PS2"/>
  </appSettings>
</configuration>